.container {
    top: -140px;
    background-color: #3a4042;
    height: 50px;
    width: 100%;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.triangle {
    height: 35px;
    width: 35px;
}

.triangle-big {
    height: 80px;
    width: 100px;
}

.container p {
    margin: 0;
    color: #6c7578;
}
