.post-under {
    transform: rotate(-2deg);
    width: 280px;
    max-height: 65vh;
    background-color: #ffffff;
    border: 3.5px solid #4c555a;
    border-radius: 6px;
    margin: 30px 10px;
    aspect-ratio: 16 / 9;
}

.placeholder {
    z-index: 100;
    width: 280px;
    height: 20px;
    background-color: #00000082;
    border: 3.5px solid #4c555a;
    border-radius: 6px;
    margin: 30px 10px;
    aspect-ratio: 16 / 9;
}

/* When screens are larger than 400px */
@media (min-width: 400px) {
    .post-under {
        width: 320px;
    }
}
