.post {
    left: 0;
    top: 0;
    transform: rotate(2deg);
    width: 100%;
    height: 100%;
    text-align: left;
    background-color: #ffffff;
    border: 3.5px solid #4c555a;
    border-radius: 6px;
    transition: transform 0.07s;
    overflow: auto;
}

.card-padding {
    padding: 2% 1.5% 2% 4%;
}

.text-section {
    width: 90%;
    height: 73%;
    min-height: 150px;
    align-items: flex-start;
    justify-content: flex-start;
}

.textarea {
    resize: none;
    height: 100%;
    width: 100%;
    border: none;
    padding: 1.5% 3%;
    background-color: #dbe3e6;
    border-radius: 5px;
    align-items: flex-start;
    justify-content: flex-start;
}

.card-button {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}
.card-button:hover {
    box-shadow: 0 0 12px 10px #939b9f;
}
