.page-container {
    width: calc(100vw - var(--sidebar-width));
    align-items: flex-start;
    justify-content: flex-start;
    padding: 50px 0;
}

.posts-container {
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
