.logo {
    width: 100px;
    aspect-ratio: 578 / 512;
}

.container {
    justify-content: center;
    transition: transform 0.2s;
    text-decoration: none;
}

.outer-circle {
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    transform-origin: center;
    border-radius: 50%;
    border: dashed 4.5px var(--color-brand-orange);
    background-color: transparent;
    box-shadow: 0 0 2px 3px #ffffff34;
    transition: transform 0.1s;
}
.outer-circle:hover {
    transform: scale(1.06);
}
.outer-circle-animation {
    animation-name: spin-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.inner-circle {
    width: 70%;
    height: 70%;
    transform-origin: center;
    border-radius: 50%;
    border: dashed 3px var(--color-brand-orange);
}

.bottom-bar {
    top: 53px;
    left: 0;
    width: 100%;
    height: 9px;
    background-color: var(--color-brand-orange);
    border-radius: 2px;
}

.tilted-bar {
    top: 54px;
    left: 37%;
    width: 78%;
    height: 6.5px;
    transform: rotate(-40deg);
    background-color: var(--color-brand-orange);
    border-radius: 2px;
    transform-origin: left;
}
.tilted-bar-animation {
    animation-name: tilt-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.brand-name {
    margin: 0;
    color: var(--color-brand-orange);
    font-weight: 300;
    font-size: 25px;
}
.brand-name-animation {
    animation-name: brand-name-animation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transform-origin: center;
}

@keyframes brand-name-animation {
    0% {
        transform: scale(0.6);
        color: #ffffff00;
    }
    15% {
        transform: scale(0.6);
        color: #ffffff00;
    }
    61% {
        transform: scale(0.6);
        color: #878787;
    }
    89% {
        transform: scale(0.6);
        color: #ffffff00;
    }
    100% {
        transform: scale(0.6);
        color: #ffffff00;
    }
}

@keyframes spin-animation {
    0% {
        transform: rotate(0deg) scale(1);
        background-color: #5c788400;
        box-shadow: 0 0 2px 3px #ffffff00;
    }
    15% {
        transform: rotate(-12deg) scale(1.1);
        background-color: #5c788438;
        box-shadow: 0 0 2px 3px #ffffff34;
    }
    61% {
        transform: rotate(420deg) scale(0.8);
        background-color: #5c7884;
        box-shadow: 0 0 2px 3px #ffffffd1;
    }
    89% {
        transform: rotate(420deg) scale(0.8);
        background-color: #5c788400;
        box-shadow: 0 0 2px 3px #ffffff00;
    }
    100% {
        transform: rotate(360deg) scale(1);
        background-color: #5c788400;
        box-shadow: 0 0 2px 3px #ffffff00;
    }
}

@keyframes tilt-animation {
    0% {
        transform: rotate(-40deg);
        width: 78%;
    }
    15% {
        transform: rotate(-45deg);
        width: 78%;
    }
    18% {
        transform: rotate(0deg);
        width: 60%;
    }
    88% {
        transform: rotate(0deg);
        width: 60%;
    }
    100% {
        transform: rotate(-40deg);
        width: 78%;
    }
}
