.follow-button {
    right: 35px;
    bottom: 0;
    padding: 10px 20px;
    margin: 40px 0;
    border-radius: 5px;
    background-color: #83cad2;
    color: #ffffff;
    box-shadow: 0 0 5px 2px #3b3d3d;
}

.follow-button:hover {
    box-shadow: 0 0 3px 2px #bdbdbd;
}
