.container {
    z-index: 1;
    top: calc(var(--header-height) - 5vh);
    right: 0;
    width: calc(100vw - var(--sidebar-width));
    height: calc(100vh - var(--header-height));
    align-items: center;
    justify-content: flex-start;
    padding-top: 50px;
}

.inner-container {
    align-items: center;
    justify-content: flex-start;
    background-color: #34383a;
    min-height: 65vh;
    max-height: 65vh;
    width: 90%;
    padding: 20px 0;
    box-shadow: 0 0 10px 5px #3d3f40;
    overflow: auto;
}

.close-button {
    top: calc(11vh + var(--header-height));
    right: 8vw;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    background-color: #c9d6db;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #60696b;
}
.close-button:hover {
    background-color: #f3b37b;
}

.title {
    color: #ffffff;
}

.component {
    padding: 30px 0;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    height: 100%;
}

.accept-or-cancel-container {
    width: 100%;
}

.yes-or-no-title {
    width: 100%;
    align-items: center;
    background-color: #d5e0e2;
    border-radius: 5px;
    padding: 20px 0;
}

.yes-or-no-buttons-container {
    width: 100%;
    justify-content: center;
    padding: 10px 0;
}

.accept-or-cancel-container button {
    justify-content: center;
    margin: 50px 30px 0 30px;
    padding: 10px 40px;
    border-radius: 100px;
    color: #d3dfe1;
    font-weight: 500;
}

.accept-or-cancel-container button:hover {
    box-shadow: 0 0 7px 3px #ffffff;
}

.accept-or-cancel-container h6 {
    margin: 0;
    text-align: center;
    color: #5e6769;
}

/* When screens are smaller than 730px */
@media (max-width: 730px) {
    .inner-container {
        width: 100%;
    }

    .close-button {
        top: calc(11vh + var(--header-height));
        right: 5vw;
    }
}
