:root {
    --text-shadow-size-quantity: -1px;
    --text-shadow-size-negative-quantity: -1px;
    --text-shadow-color-quantity: #6b7d85;

    --text-shadow-size-material: -1px;
    --text-shadow-size-negative-material: -1px;
    --text-shadow-color-material: #cad4d9;
}

.materials {
    width: 100%;
    align-items: center;
    margin: 15px 0;
    padding: 0 10px;
}

.material {
    width: 100%;
    align-items: flex-start;
    line-height: 0;
    margin: 15px 0;
    border-bottom: dashed 1px #a8afb2;
    padding: 0 10px;
}

.material h6 {
    font-weight: 600;
    color: #6a7275;
    text-shadow:
        var(--text-shadow-size-material) var(--text-shadow-size-material) 4px
            var(--text-shadow-color-material),
        var(--text-shadow-size-negative-material)
            var(--text-shadow-size-material) 4px
            var(--text-shadow-color-material),
        var(--text-shadow-size-material) var(--text-shadow-size-material) 4px
            var(--text-shadow-color-material),
        var(--text-shadow-size-negative-material)
            var(--text-shadow-size-material) 4px
            var(--text-shadow-color-material);
}

.material em {
    padding-right: 10px;
    font-weight: 600;
    color: #82e280;
    font-style: normal;
    text-shadow:
        var(--text-shadow-size-quantity) var(--text-shadow-size-quantity) 4px
            var(--text-shadow-color-quantity),
        var(--text-shadow-size-negative-quantity)
            var(--text-shadow-size-quantity) 4px
            var(--text-shadow-color-quantity),
        var(--text-shadow-size-quantity) var(--text-shadow-size-quantity) 4px
            var(--text-shadow-color-quantity),
        var(--text-shadow-size-negative-quantity)
            var(--text-shadow-size-quantity) 4px
            var(--text-shadow-color-quantity);
}

.material p {
    margin-top: 5px;
    font-size: 12px;
    color: #576a73;
}
