.container {
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding-top: 33vh;
    align-items: center;
    background-color: #343b3edd;
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(5px); /* Compatibility fix! */
}
