:root {
    --item-width: 200px;
    --item-padding: 20px 0px;
    --item-height: 67px;
    --item-font-size: 65%;
}

.input-container {
    width: 100%;
    justify-content: center;
}

.input {
    height: var(--item-height);
    padding: var(--item-padding);
    background-color: var(--color-input-background);
    text-align: center;
    width: var(--item-width);
    font-size: var(--font-size);
}

.label-input {
    height: var(--item-height);
    padding: var(--item-padding);
    background-color: #484d4f;
    text-align: center;
    width: var(--item-width);
    font-size: var(--font-size);
}

.image-container {
    width: 100%;
    align-items: center;
}

.image-label {
    background-color: #e9eff1;
    color: #000000;
    text-align: center;
    width: 150px;
    height: 150px;
    cursor: pointer;
    box-shadow: 0 0 5px 2px var(--color-dark-border);
    margin-right: 15px;
}

.image {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1 / 1;
    overflow: hidden;
}

.checkbox-container {
    width: 30px;
    height: 30px;
    border: 3px solid #ffffff;
    margin-right: 10px;
    border-radius: 6px;
}

.checkbox {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.checkbox-link-container {
    font-size: 100%;
    line-height: 0;
}

.checkbox-link {
    color: #ffffff;
    margin-left: 8px;
    font-size: 100%;
    line-height: 0;
}

/* The middle 'border' separating the inputs */
.artificial-border {
    width: 3px;
    background-color: var(--color-dark-border);
}

.error-message {
    color: var(--color-error);
    font-weight: 500;
    line-height: 0; /* Avoid layout shift */
}

/* When screens are larger than 850px */
@media (min-width: 850px) {
    .image-container {
        width: 100%;
        align-items: flex-start;
    }
}

/* When screens are smaller than 590px */
@media (max-width: 590px) {
    .input {
        height: 67px;
        width: 160px;
        font-size: 80%;
    }

    .label-input {
        height: 67px;
        width: 160px;
        font-size: 80%;
    }
}

/* When screens are smaller than 490px */
@media (max-width: 490px) {
    .input {
        height: 67px;
        width: 150px;
        font-size: 70%;
    }

    .label-input {
        height: 67px;
        width: 150px;
        font-size: 70%;
    }

    .checkbox-link-container {
        font-size: 80%;
    }
}

/* When screens are smaller than 410px */
@media (max-width: 410px) {
    .checkbox-container {
        margin-left: 20px;
    }

    .input {
        height: 67px;
        width: 130px;
        font-size: 60%;
    }

    .label-input {
        height: 67px;
        width: 130px;
        font-size: 60%;
    }
    .checkbox-link-container {
        font-size: 60%;
    }
}
